<div id="form_login">
    <p id="title">Portal de Monitoreo</p>
    <p id="subtitle">Registrarse</p>
    <form action="none" id="form" [formGroup]="form" (ngSubmit)="onUpload()">
        <mat-form-field appearance="outline" >
            <mat-label>Nombre</mat-label>
            <input
            matInput
            placeholder="Agustin"
            formControlName="name"
            (blur)="updateErr()"
            required
            />
            @if (email.invalid) {
                <mat-error>{{errName()}}</mat-error>
              }
            
        </mat-form-field>
        
        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            (blur)="updateErr()"
            required
            />
            @if (email.invalid) {
                <mat-error>{{errEmail()}}</mat-error>
              }
            
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"  (blur)="updateErr()" required/>
            <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
            >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (password.invalid) {
                <mat-error>{{errPass()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="reppassword" (blur)="updateErr()" required/>
            <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
            >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (reppassword.invalid) {
                <mat-error>{{errRepPass()}}</mat-error>
            }
        </mat-form-field>
        <p class="errmsg">{{error}}</p>
        <div class="p_y_btn">
            <a class="text_hypertext" href="/login">¿Ya tienes un usuario? Ingresa</a>
            <button mat-flat-button class="btn_iniciar">Registrarse</button>
        </div>
    </form>

    <p class="m-t">Protegido por reCAPTCHA y sujeto a la <a class="text_hypertext">Politica de Privacidad</a> y <a class="text_hypertext">Condiciones.</a></p>
</div>