.header{
    width: 90%;
    height: 100%;
    display: flex;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: #000000;
    justify-content: space-between;
}
.icon_menu,.icon_logo{
    display: none;
}
.icon_cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
.icon{
    width: 20%;
}
.menu{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
@media only screen and (max-width: 768px) {
    
    .title{
        display: none;
    }
    .nombre{
        display: none;
    }
    .menu{
        width: 100%;
        justify-content: space-between;
        align-items: end;
    }
    .d-none{
        display: none;
    }
    .icon_menu,.icon_logo{
        display: block;
    }
    .icon_logo{
        width: 20%;
    }
    .logo{
        width: 100%;
    }
    .icon_cont{
        width: 20%;
    }
    .icon{
        width: 30%;
    }
}